.weatherDetails-wrapper{
    background-color : #FFF;
    width : 58vw;
    padding : 1.5rem;
}

.weather-details-info-wrapper{
    display : grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 5vh 5vh 5vh;
    align-items : center;
    padding : 0.5rem;
}

.weather-details-info{
    display : flex;
    justify-content : space-between;
    width : 100%;
}

span{
    margin-right : 2rem;
}

h1{
    margin : 2px;
}
.heading {
    margin: 0 auto;
    text-align: center;
    min-width: 40vw;
    max-width: 50vw;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(58, 57, 57, 0.6);
    padding-bottom: 5px;
    
}